.AddCounter {
  margin: 20px 0;
  display: flex;
  font-size: 20px;
}


.AddCounter-title, 
.AddCounter-button {
  border: 1px solid grey;
}

.AddCounter-title {
  flex: 1;
  min-width: 0;
  border-right: none;
  padding: 10px;
}

.AddCounter-button:hover {
  cursor: pointer;
}