.Counter {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  align-items: center;
}

.Counter:first-of-type {
  border-top: 1px solid lightgray;
}

.Counter-title {
  flex-grow: 1;
  padding: 0 10px;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.25;
}

.Counter-count {
  padding: 0 10px 0 0;
  min-width: 35px;
  text-align: right;
}

.Counter-button {
  border: none;
  background: none;
}

.Counter-button:hover {
  cursor: pointer;
}

.Counter-delete {
  font-size: 15px;
}